@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden; /* only hides scroll bar on x axis, we want to be able to scroll over x axis */
  background-color: #333;
  color: #222;
  margin: 0;
}

.container {
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform 0.5s linear; /* transition the transform property */
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}
.container.show-nav .circle {
  transform: rotate(-90deg);
}
.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px; /* since we want to be half circle at the edge of the page */
}

.circle {
  background-color: #ff7979;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative; /* so that we can position buttons inside absolute */
  transition: tranform 0.5s linear;
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none; /* that will get rid of bullet points */
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: #fafafa;
  margin: 40px 0;
  transform: translateX(-100%); /* negative value to bring it left */
  transition: transform 0.4s ease-in;
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

nav ul li + li {
  margin-right: 15px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-right: 30px;
  transform: translateX(-200%);
}

.content img {
  max-width: 50%;
}

.content {
  max-width: 1000px;
  margin: 50px auto;
}

.container h1 {
  margin: 0;
}

.content small {
  color: #555;
  font-style: italic;
}

.content p {
  color: #333;
  line-height: 1.5;
}
